<div class="mageb-qv-popup quickview-detail-container">
	<div class="row">
		<div class="image-box-detail">
			<?php echo $block->getChildHtml('product.info.media'); ?>
		</div>			
		<div class="info-box-detail">
			<div class="info-detail-container">
            	<div class="quickview-product-name"></div>
				<?php echo $block->getChildHtml('product.info.main'); ?>				
			</div>
		</div>
	</div>
</div>
