<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>
<?php $_helper = $this->helper('Magento\Catalog\Helper\Output'); ?>
<?php $_product = $block->getProduct(); 

	$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();
    $currentproduct = $objectManager->create('Magento\Catalog\Model\Product')->load($_product->getId());
	$session = $objectManager->get('\Magento\Framework\View\Element\FormKey');
?>

<div class="product-add-form">
    <form action="<?php /* @escapeNotVerified */ echo $block->getSubmitUrl($_product) ?>" method="post" class="product_addtocart_form_<?php echo $_product->getId(); ?>"
          id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
		
		
		
	<!--<form action="<?php /* @escapeNotVerified */ //echo $block->getSubmitUrl($_product) ?>" method="post"
          id="product_addtocart_form_<?php //echo $_product->getId(); ?>"<?php //if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php //endif; ?>>-->
        <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
		<input  name="form_key" type="hidden" value="<?php echo $session->getFormKey(); ?>" />
        <?php echo $block->getBlockHtml('formkey')?>
        <?php echo $block->getChildHtml('form_top'); ?>
        <?php if (!$block->hasOptions()):?>
            <?php echo $block->getChildHtml('product_info_form_content'); ?>
        <?php else:?>
            <?php if ($_product->isSaleable() && $block->getOptionsContainer() == 'container1'):?>
                <?php echo $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
        <?php endif; ?>

        <?php if ($_product->isSaleable() && $block->hasOptions() && $block->getOptionsContainer() == 'container2'):?>
            <?php echo $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
        <?php echo $block->getChildHtml('form_bottom'); ?>
    </form>
</div>
<script type="text/javascript">
    require([
        'jquery',
        'Magento_Catalog/js/price-box'
    ], function($){
      /*  var priceBoxes = $('[data-role=priceBox]');
		if(priceBoxes.length){
			 priceBoxes = priceBoxes.filter(function(index, elem){
				return !$(elem).find('.price-from').length;
			});

			priceBoxes.priceBox({'priceConfig': <?php // echo $block->getJsonConfig() ?>});
		}*/
		
		$('#product_quickview_content').trigger('contentUpdated');		
		var priceBoxes =$("#product_quickview_content div[data-product-id=<?php echo $_product->getId() ?>]");		
        priceBoxes = priceBoxes.filter(function(index, elem){
            return !$(elem).find('.price-from').length;
        });
        priceBoxes.priceBox({'priceConfig': <?php /* @escapeNotVerified */ echo $block->getJsonConfig() ?>});
       
    });
</script>

