@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?-ri0zxh');
    src:url('fonts/icomoon.eot?#iefix-ri0zxh') format('embedded-opentype'),
        url('fonts/icomoon.ttf?-ri0zxh') format('truetype'),
        url('fonts/icomoon.woff?-ri0zxh') format('woff'),
        url('fonts/icomoon.svg?-ri0zxh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
    content: "\ea88";
}
.icon-google-plus2:before {
    content: "\ea89";
}
.icon-google-plus3:before {
    content: "\ea8a";
}
.icon-facebook:before {
    content: "\ea8c";
}
.icon-facebook2:before {
    content: "\ea8d";
}
.icon-facebook3:before {
    content: "\ea8e";
}
.icon-twitter:before {
    content: "\ea91";
}
.icon-twitter2:before {
    content: "\ea92";
}
.icon-twitter3:before {
    content: "\ea93";
}
.icon-linkedin:before {
    content: "\eac8";
}
.icon-linkedin2:before {
    content: "\eac9";
}
.icon-pinterest:before {
    content: "\ead0";
}
.icon-pinterest2:before {
    content: "\ead1";
}
