/* Loading Image */
#loadingImage { display:none; text-align:center; height:100%; width:100%; text-align:center; background-color:rgba(255,255,255,0.6); position:fixed; top:0; left:0; z-index:999999; }
#loadingImage > div { padding-top:15%; }
#loadingImage img { max-width:200px; }

/*.header.content { z-index:0; } */

/* Products Listing List / Grid Page Quick View Buttons */
/* .products-grid .product-item .magebees_quickview:before { content:''; background-image:url(../images/quickview.png); display:inline-block; background-repeat:no-repeat; background-size:30px; width:30px; height:30px; vertical-align:middle; }*/
.products-grid .product-item .product-item-details, .products-list .product-item .product-item-details { position:relative; }
.products-grid .product-item .magebees_quickview { display:none; font-size:16px; width:100%; text-align:center; text-decoration:none; box-shadow:none; -webkit-box-shadow:none; border:0 none;
    border-radius:0; -webkit-border-radius:0; padding:13px 15px; }
.products-grid .product-item .product-item-info:hover .magebees_quickview { display:block; position:absolute; top:-52px; z-index:9; }
.products-grid .product-item .product-item-info .magebees_quickview:hover, .products-list .product-item .product-item-info .magebees_quickview:hover { opacity:0.9; }
.products-grid .product-item .product-item-inner { margin:9px -9px 0 -10px; }

.products-list .product-item .magebees_quickview { display:none; font-size:16px; width:100%; text-align:center; text-decoration:none; box-shadow:none; -webkit-box-shadow:none; border:0 none;
    border-radius:0; -webkit-border-radius:0; padding:10px 15px; }
.products-list .product-item .product-item-info:hover .magebees_quickview { display:block; width:inherit; margin-top:-30px; position:absolute; top:50%; left:-200px; z-index:9; }

/* Quickview Details Popup */
.mageb-qv-popup:before, .mageb-qv-popup:after { content:''; clear:both; display:block; }
.mageb-qv-popup .info-detail-container, .mageb-qv-popup .image-box-detail { float:left; width:50%; }
.page-layout-2columns-left .quickViewDetails.modal-popup .product-info-main, .page-layout-2columns-right .quickViewDetails.modal-popup .product-info-main, .page-layout-3columns .quickViewDetails.modal-popup .product-info-main,
.page-layout-2columns-left .quickViewDetails.modal-popup .product.media, .page-layout-2columns-right .quickViewDetails.modal-popup .product.media, .page-layout-3columns .quickViewDetails.modal-popup .product.media,
.quickViewDetails.modal-popup .product-info-main, .quickViewDetails.modal-popup .product-info-main, .page-layout-1column .quickViewDetails.modal-popup .product.media { width:100%; }
.quickViewDetails.modal-popup .product-info-main .product-info-price .price-label { font-size:17px; }
.quickViewDetails.modal-popup .product-info-main .product-info-price .price-box { padding-left:0; float:left; }
.quickViewDetails.modal-popup .product-info-main .product-info-price .price-box .price-from { margin-right:10px; }
.quickViewDetails.modal-popup .product-info-main .product-info-price .price-box .price-from, .quickViewDetails.modal-popup .product-info-main .product-info-price .price-box .price-to { float:left; }
.quickViewDetails.modal-popup .product-info-main .product-info-price .price-box .price-from .price, .quickViewDetails.modal-popup .product-info-main .product-info-price .price-box .price-to .price { font-size:28px; line-height:28px; }
.quickViewDetails.modal-popup .product-info-main .product.attibute.overview { clear:both; padding-top:10px; }
.quickViewDetails.modal-popup .product-info-main .product-info-stock-sku { padding-left:0; display:block; float:right; }
.quickViewDetails.modal-popup .product-info-main .product-info-stock-sku .stock.available { color:#6DD700; }
.quickViewDetails.modal-popup .quickview-product-name:before, .quickViewDetails.modal-popup .quickview-product-name:after { content:''; clear:both; display:block; }
.quickViewDetails.modal-popup .quickview-product-name h3 { font-size:28px; font-weight:normal; margin-top:0; margin-bottom:20px; }
.quickViewDetails.modal-popup .product-info-main .product.attribute.overview { clear:both; }

.quickViewDetails.modal-popup .modal-custom .action-close:before, .quickViewDetails.modal-popup .action-close:before,
.quickViewDetails.modal-popup .modal-slide .action-close:before { content:''; background:url(../images/close-icon.png) no-repeat; display:block; width:22px; height:22px; }
.quickViewDetails.modal-popup .modal-custom .action-close:hover:before, .quickViewDetails.modal-popup .action-close:hover:before,
.quickViewDetails.modal-popup .modal-slide .action-close:hover:before { opacity:0.8; }

.quickViewDetails.modal-popup .fotorama__wrap--slide:hover .fotorama__arr { display:block !important; }
.quickViewDetails.modal-popup .fotorama__thumb { border:1px solid #ddd; }
.quickViewDetails.modal-popup .product-info-main .product-info-price { border-bottom: 1px #c1c1c1 solid; display:table; width:100%; color:#575757; margin-bottom:15px; }
.quickViewDetails.modal-popup .product-options-bottom .price-box, .quickViewDetails.modal-popup .product-info-price .price-box { padding-bottom:10px; margin-top:0; }
.quickViewDetails.modal-popup .product-options-bottom .price-box .price-container .price,
.quickViewDetails.modal-popup .product-info-price .price-box .price-container .price { font-size:33px; line-height:33px; }
.quickViewDetails.modal-popup .product-info-main .product-add-form:before, .quickViewDetails.modal-popup .product-info-main .product-add-form:after { content:''; clear:both; display:block; }
.quickViewDetails.modal-popup .product-info-main .product-add-form { padding-top:0; }
.quickViewDetails.modal-popup .product-info-main .box-tocart .actions, .quickViewDetails.modal-popup .product-options-bottom .box-tocart .actions { display:block; }

.quickViewDetails .product-info-main .product-options-bottom .box-tocart { margin:10px 0 20px; }
.quickViewDetails .product-social-links { text-align:left; margin-bottom:20px; }
.quickViewDetails .product-social-links .box-gotoproduct { margin-top:20px; }
.quickViewDetails.modal-popup .box-tocart .field.qty { margin-bottom:20px; }
.quickViewDetails .fieldset .control-qty-cart { display:inline-block; position:relative; }
.quickViewDetails .fieldset .control-qty-cart .qty,
.quickViewDetails.modal-popup .product-info-main .box-tocart .input-text.qty, .quickViewDetails.modal-popup .product-options-bottom .box-tocart .input-text.qty { text-align:left; width:70px; height:40px; }
.quickViewDetails.modal-popup .quantity-controls { color:#fff; font-size:18px; line-height:14px; font-weight:bold; display:block; text-align:center; position:absolute; top:50%; right:5px; margin-top:-10px;
    width:15px; height:15px; background-color:#888; cursor:pointer; }
.quickViewDetails.modal-popup .quantity-plus { top:14px; }
.quickViewDetails.modal-popup .quantity-minus { top:32px; }
.quickViewDetails.modal-popup .box-tocart .action.ajaxproduct { width:230px; line-height:2.2rem; padding:14px 17px; font-size:1.8rem; }

.quickViewDetails.modal-popup .product-info-main .stock.available, .quickViewDetails.modal-popup .product-info-main .stock.unavailable { display:block; margin-right:0; }

.quickViewDetails.modal-popup .fotorama__nav, .quickViewDetails.modal-popup .fotorama__nav--thumbs { height:auto !important; }

/* Related Products */
.quickViewDetails.modal-popup .title:after, .quickViewDetails.modal-popup .title:before { content:''; clear:both; display:block; }
.quickViewDetails.modal-popup .block .title { text-align:center; }
.quickViewDetails.modal-popup .block .title strong { font-size:30px; font-weight:300; text-transform:uppercase; border-bottom:3px solid #dddd; padding-bottom:5px; }
.quickViewDetails.modal-popup .products-grid .product-item { text-align:center; }
.quickViewDetails.modal-popup .block .product-item-details { text-align:left; }


/* Bundle Products */
.quickViewDetails.modal-popup .bundle-options-container:before, .quickViewDetails.modal-popup .bundle-options-container:after { content:''; clear:both; display:block; }
.quickViewDetails.modal-popup .bundle-options-container { background-color:#f6f6f6; }
.quickViewDetails.modal-popup .bundle-options-container .block-bundle-summary { margin-top:0; width:46%; float:left; }
.quickViewDetails.modal-popup .bundle-options-container .legend.title { font-size:30px; }
.quickViewDetails.modal-popup .bundle-options-container .product-options-wrapper { width:100%; }
.quickViewDetails.modal-popup .bundle-options-container .bundle-options-wrapper, .quickViewDetails.modal-popup .block-bundle-summary { padding:20px; }

@media all and (max-width:999px) {
    .quickViewDetails.modal-popup .product-info-main .product-info-price .price-box .price-from .price, .quickViewDetails.modal-popup .product-info-main .product-info-price .price-box .price-to .price { font-size:20px; line-height:20px; }
    
    .quickViewDetails.modal-popup .bundle-options-container .bundle-options-wrapper, .quickViewDetails.modal-popup .block-bundle-summary { width:93%; }
    .quickViewDetails.modal-popup .bundle-options-container .block-bundle-summary { width:100%; }
    .quickViewDetails.modal-popup .bundle-options-container .block-bundle-summary > .title > strong { margin-top:0; }
}

@media all and (max-width:768px) {
    
    .products-grid .product-item .magebees_quickview,
    .products-grid .product-item .product-item-info:hover .magebees_quickview { display:block; position:absolute; top:-53px; z-index:1; }
    
    .products-list .product-item .product-item-info .magebees_quickview,
    .products-list .product-item .product-item-info:hover .magebees_quickview { position:absolute; top:50%; left:-200px; z-index:1; margin-top:-30px; display:block; width:inherit; }
    .products-list .product-item button:not(.primary) { box-shadow:none; -webkit-box-shadow:none; }
    .products-list .product-item .magebees_quickview { font-size:14px; padding:8px 11px; }
    
    .quickViewDetails.modal-popup .box-tocart .action.ajaxproduct { width:160px; padding:10px 15px; }
    .mageb-qv-popup .info-detail-container, .mageb-qv-popup .image-box-detail { width:100%; }
    .quickViewDetails.modal-popup .fotorama__stage { text-align:center; margin:0 auto; }
    
    .quickViewDetails.modal-popup .product-info-main .box-tocart .actions, .quickViewDetails.modal-popup .product-options-bottom .box-tocart .actions { text-align:left; padding-top:0; }
    .mageb-qv-popup .info-detail-container { padding-top:20px; }
    .quickViewDetails.modal-popup .product-options-bottom .price-box .price-container .price, .quickViewDetails.modal-popup .product-info-price .price-box .price-container .price { font-size:26px; line-height:26px; }
    
    .quickViewDetails.modal-popup .bundle-options-container .bundle-options-wrapper, .quickViewDetails.modal-popup .block-bundle-summary { padding:0; width:100%; }
}

@media all and (max-width:640px) {
    .products-grid .product-item .magebees_quickview { font-size:14px; }
    .products-grid .product-item .magebees_quickview,
    .products-grid .product-item .product-item-info:hover .magebees_quickview { top:-52px; }
    
    .products-list .product-item .product-item-info .magebees_quickview,
    .products-list .product-item .product-item-info:hover .magebees_quickview { position:static; margin:0; }
    
    .quickViewDetails.modal-popup._inner-scroll .modal-content { padding-left:20px; }
    .quickViewDetails.modal-popup .product-info-price { margin:0 0 10px; }
    
    .quickViewDetails.modal-popup .block .title strong { font-size:24px; }
}

@media all and (max-width:479px) {
    
    .quickViewDetails.modal-popup .quickview-product-name h3 { font-size:20px; }
    
    .products-grid .product-item .magebees_quickview, .products-grid .product-item .product-item-info:hover .magebees_quickview { top:-44px; }
    .products-grid .product-item .magebees_quickview { font-size:12px; padding:9px 15px; }
    
    .quickViewDetails.modal-popup .block .title strong { font-size:22px; }
    
    .quickViewDetails.modal-popup .products-grid .product-item { width:49%; margin-right:2%; }
    .quickViewDetails.modal-popup .products-grid .product-item:nth-child(2n) { margin-right:0; }
    
}
